./frontend/node_modules
./backend/.pytest_cache
./backend/chat.db
./backend/__pycache__
./backend/.venv
./backend/.env
./backend/test.db
./.vscode
./backend/alembic/versions
./backend/uv.lock
./backend/app/__pycache__
./backend/app/account/__pycache__
./backend/app/chat/__pycache__

